<h1>Listing subcategories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcategories.each do |subcategory| %>
  <tr>
    <td><%= subcategory.name %></td>
    <td><%= subcategory.category.name %></td>
    <td><%= link_to 'Show', [:admin, subcategory] %></td>
    <td><%= link_to 'Edit', edit_admin_category_subcategory_path(subcategory.category_id, subcategory) %></td>
    <td><%= link_to 'Destroy', [:admin, subcategory], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


