<div class="padding" style="padding-left:50px;font-size:small;">
  <br >
  <span style="font-weight:bold;margin-left: 45px;">Registration</span>
  <br >
  <ul style="list-style-type:disc;list-style-position:inside;margin-left: 5px;">
    <li style="list-style: none" >Registration is optional, but registration does allow you to:</li>
    <li>Post and manage Ads without having to confirm each action via email</li>
    <li>Reserve your own nickname</li>
    <li>Participate in discussions</li>
  </ul>

  <div class="gray_box" style="margin-left:45px;">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      To start registration please enter your email address below.
      <br >
      <span style="font-weight:bold;"><span class="red"> *</span>Email address</span>
      <br>
      <%= f.text_field :email, error: false, label: false, input_html: {class: "input1"} %>
      <br>
      <span style="font-weight:bold;"><span class="red"> *</span>Password(at least 6 characters) </span>
      <br>
      <%= f.password_field :password, error: false, label: false, input_html: {class: "input1"}  %>
      <br>
      <span style="font-weight:bold;"><span class="red"> *</span>Re-type password</span>
      <br>
      <%= f.password_field :password_confirmation, label: false, error: false, input_html: {class: "input1"}  %>
      <br>
      <span style="font-weight:bold;">Nickname</span>
      <br >
      <%= f.text_field :nickname, label: false, error: false, input_html: {class: "input1"} %>
      <br >
      <%= f.check_box :information, as: :boolean, error: false, label: false, input_html: { style: "float:left;"} %> Yes, I would like Kutangaza to contact me about events,
      new features, and other promotional information.
      <br >
      <%= f.check_box :terms, as: :boolean, error: false, label: false, input_html: { style: "float:left;"} %> &#160;By clicking "Register", you are agreeing to our
      <%= link_to "terms of use", terms_of_use_path, style: "color:#0066CC;text-decoration:underline;" %> and
      <%= link_to "privacy policy", privacy_policy_path, style: "color:#0066CC;text-decoration:underline;" %>
      <br >
      <br >
      <%= f.submit("Register", style: "color:black;background-color:#CDC953;border:thin blue solid;padding:2px 15px 2px 15px;") %>
    <% end %>
  </div>

</div>
<%#= render "users/shared/links" %>
