<h2>Hi  <%= @email %>.</h2><h3> Welcome to Kutangaza.com</h3>
<p>
  <%= @message %>
</p>
<br><br>
<p>Thanks you so much. <br>
   Name : <%= @name %><br>
   Phone : <%= @phone %><br>
   Email : <%= @sender %>
</p>
