<h1>Listing models</h1>

<table>
  <tr>
    <th>Model Title</th>
    <th>Make</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @models.each do |model| %>
  <tr>
    <td><%= model.title %></td>
    <td><%= model.make.title %></td>
    <td><%= link_to 'Show', [:admin, model] %></td>
    <td><%= link_to 'Edit', edit_admin_model_path(model) %></td>
    <td><%= link_to 'Destroy', [:admin, model], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model', new_admin_model_path %>
