<div class="login-nav">
  <ul>
    <li><%= active_link_to "My Ads (#{count_adverts})", mykutangaza_path %></li>
    <li><%= active_link_to "Promote My Ads", promote_my_ads_path %></li>
    <li><%= link_to "My Profile", my_profile_path, class: "active" %></li>
    <li><%= active_link_to "My Order", my_order_path %></li>
  </ul>
</div>

<div class="heading">Change Password</div>

<div class="inner-page">
    <%= form_for @user do |f| %>
      <table width="50%">
        <tr><td>Hi <%= @user.email %></td></tr>
        <tr><td>Please enter a new password below.</td></tr>
          <% if @user.errors.any? %>
            <tr>
              <td>
                <div id="error_explanation" style="border: 1px solid #D97A1E; width: 95%;" >
                  <h4 style="color: #fff;background-color: #D97A1E;margin-top: 0" > <%= pluralize(@user.errors.count, 'error') %> prohibited this form being submitted:</h4>
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li class="error"><%= msg %></li>
                    <% end %>
                  </ul>
                </div><br>
              </td>
            </tr>
          <% end %>
        <tr><td><strong>Verify your current password to save changes</strong><br> <input type='password' name="current_password" class="input1" ></td></tr>
        <tr><td><strong>New password (at least 6 characters)</strong><br><%= f.password_field :password, class: "input1" %></td></tr>
        <tr><td><strong>Re-type new password</strong><br><%= f.password_field :password_confirmation, class: "input1" %></td></tr>
        <tr><td><%= image_submit_tag("change-password.jpg") %></td></tr>
      </table>
    <% end %>
  <br><br><br><br>


</div>