<!--left side-->
<div class="left">

  <!--slider-->
  <div class="gallery">

    <div class="inner">
      <%= link_to categories_path do %><span class="post-ad-orange sprite absmiddle"></span><% end %><span class="new-classifieds sprite absmiddle" style="float: right"></span>
      <br/>
    </div>
  </div>
  <!--slider end-->

  <%= render partial: 'all_categories'%>
  <!--services-->
</div>
<!--left side end-->

<!--right side-->
<div class="right">
  <%= image_tag("banner.jpg") %>
  <!--deal-->
  <div class="deal">
    <%= image_tag("deal.jpg") %>

    <div class="inner">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><span class="deal-arrow sprite"></span></td>
          <td align="center"><br>
            46% off Kokmax Toys Mini
            RC Racer<br>
            <%= image_tag("deal-img.jpg") %></td>
          <td><span class="deal-arrow2 sprite"></span></td>
        </tr>
      </table>
    </div>
  </div>
  <!--deal ens-->
</div>
<!--right side end-->