<div class="search-left">

  <div class="red-bar"> Current Matches (<%= @adverts.count %>) </div>

  <strong class="side-menu" style="cursor:pointer;" ><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Category</strong>

  <ul>
    <li><%= request.fullpath.include?('?') ? all_categories_link("All Categories", 'category_id', "#{request.fullpath.slice(request.fullpath.index('?'), request.fullpath.length)}" ) : (link_to "All Categories", all_categories_path) %></li>
    <li>
      <ul>
        <li><%= filter_header_link(@section.name, 'category_id').html_safe %> <%= "<strong class='orange'>(#{@adverts.count})</strong>".html_safe unless request.url.include?('category_id') %></li>
        <li>
          <ul>
           <% @adverts.group(:category_id).count.each do |category, count| %>
                <li><%= request.fullpath.include?('category_id') ? "<strong class='orange'>#{Category.find(category).name} (#{count})</strong>".html_safe : (link_to "#{Category.find(category).name} (#{count})",  (request.fullpath + (request.url.include?('?') ? '&' : '?') + "#{'category_id'}=#{category}")) %></li>
                <% unless Category.find(category).subcategories.blank? %>
                    <li>
                      <ul>
                        <% @adverts.group(:subcategory_id).count.each do |subcategory, count| %>
                            <li><%= link_to "#{Subcategory.find(subcategory).name} (#{count})", subcategory_path(Subcategory.find(subcategory).name) unless subcategory.blank? %></strong></li>
                        <% end %>
                      </ul>
                    </li>
                <% end %>
           <% end %>
          </ul>
        </li>
      </ul>
    </li>
  </ul><br>

  <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Location</strong>
  <ul>
    <% @adverts.group(:location_id).count %>
    <li><strong class="orange"><%= "#{Location.find(session[:current_location]).name} (#{@adverts.count})"%></strong></li>
  </ul><br>

  <% if @adverts.where('ad_type = ? OR ad_type = ?', "Offering" ,"Wanted").present? %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Type</strong>
      <ul>
        <li><%= filter_header_link('All Types', 'ad_type').html_safe %></li>
        <% if @adverts.where(:ad_type => 'Offering').present? %>
            <li><%= activated_link(@adverts, 'ad_type', 'Offering').html_safe %></li>
        <% end %>
        <% if @adverts.where(:ad_type => 'Wanted').present? %>
            <li><%= activated_link(@adverts, 'ad_type', 'Wanted').html_safe %></li>
        <% end %>
      </ul><br>
  <% end %>

  <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Featured Ads</strong>
  <ul>
    <li><%= filter_header_link('All Featured Ads', 'featured_ad').html_safe %></li>
    <% if @adverts.where(:urgent_ads => true).present? %>
        <li><%= featured_ads(@adverts, 'featured_ad', 'urgent_ads').html_safe %></li>
    <% end %>

    <% if @adverts.where(:carproof_included => true).present? %>
        <li><%= featured_ads(@adverts, 'featured_ad', 'carproof_included').html_safe %> </li>
    <% end %>
    <% if @adverts.where(:certified_pre_owned => true).present? %>
        <li><%= featured_ads(@adverts, 'featured_ad', 'certified_pre_owned').html_safe %> </li>
    <% end %>
  </ul><br>

  <% if @adverts.sum(:price).nonzero? %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Price</strong>
      <form>
          <table style="margin: 0 auto;">
            <tr>
              <td ><input type="text" class="price-input2" id="field1" name="field1" placeholder="from" /> -</td>
              <td ><input type="text" class="price-input2" id="field2" name="field2" placeholder="to" /></td>
              <td><%= image_tag("go.jpg", id: 'price', align: 'absmiddle', style: 'cursor:pointer') %></td>
            </tr>
          </table>
      </form><br>
  <% end %>

  <% if @adverts.where('sale_by =? OR sale_by =? ', 'Owner','Dealer').present? %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> For Sale By</strong>
      <ul>
        <li><%= filter_header_link('All Types', 'sale_by').html_safe %></li>
        <% if @adverts.where(:sale_by => "Owner").present? %>
            <li><%= activated_link(@adverts, 'sale_by', 'Owner').html_safe %></li>
        <% end %>
        <% if @adverts.where(:sale_by => "Dealer").present? %>
            <li><%= activated_link(@adverts, 'sale_by', 'Dealer').html_safe %></li>
        <% end %>
      </ul><br>
  <% end %>


  <% if @adverts.sum(:year).nonzero? %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Year</strong>
      <form>
        <table style="margin: 0 auto;">
          <tr>
            <td ><input type="text" class="price-input2" id="field5" name="field3" placeholder="from" /> -</td>
            <td ><input type="text" class="price-input2" id="field6" name="field4" placeholder="to" /></td>
            <td><%= image_tag("go.jpg", id: 'year', align: 'absmiddle', style: 'cursor:pointer') %></td>
          </tr>
        </table>
      </form>   <br>
  <% end %>

  <% unless @adverts.where(:make => nil).present? %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Make</strong>
      <ul>
        <li><%= filter_header_link('All Types', 'make').html_safe %></li>
        <% @adverts.group(:make).count.each do |mk, cnt| %>
            <li><%= activated_link(@adverts, 'make', mk).html_safe %></li>
        <% end %>
      </ul><br>
  <% end %>

  <% if @adverts.sum(:kilometers).nonzero? %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Kilometers</strong>
      <form>
        <table style="margin: 0 auto;">
          <tr>
            <td ><input type="text" class="price-input2" id="field3" name="field3" placeholder="from" /> -</td>
            <td ><input type="text" class="price-input2" id="field4" name="field4" placeholder="to" /></td>
            <td><%= image_tag("go.jpg", id: 'kilometer', align: 'absmiddle', style: 'cursor:pointer') %></td>
          </tr>
        </table>
      </form>   <br>
  <% end %>

  <% unless @adverts.where(:body_type => nil).present?  %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Body Type</strong>
      <ul>
        <li><%= filter_header_link('All Types', 'body_type').html_safe %></li>
        <% @adverts.order(:body_type).group('body_type').count.each do |body, count| %>
            <li><%= activated_link(@adverts, 'body_type', body).html_safe %></li>
        <% end %>
      </ul><br>
  <% end   %>

  <% unless @adverts.where(:transmission => nil).present?  %>
      <strong class="side-menu" style="cursor: pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Transmission</strong>
      <ul>
        <li><%= filter_header_link('All Types', 'transmission').html_safe %></li>
        <% @adverts.order(:transmission).group('transmission').count.each do |transmission, count| %>
            <li><%= activated_link(@adverts, 'transmission', transmission).html_safe %></li>
        <% end %>
      </ul><br>
  <% end   %>

  <% unless @adverts.where(:color => nil).present?  %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Color</strong>
      <ul>
        <li><%= filter_header_link('All Colors', 'color').html_safe %></li>
        <% @adverts.order(:color).group('color').count.each do |color, count| %>
            <li><%= activated_link(@adverts, 'color', color).html_safe %></li>
        <% end %>
      </ul><br>
  <% end   %>

  <% unless @adverts.where(:fuel_type => nil).present?  %>
      <strong class="side-menu" style="cursor:pointer;"><%= image_tag("arrow-down.jpg", width: "12", height: "6", align: "absmiddle") %> Fuel Type</strong>
      <ul>
        <li><%= filter_header_link('All Types', 'fuel_type').html_safe %></li>
        <% @adverts.order(:fuel_type).group('fuel_type').count.each do |fuel, count| %>
            <li><%= activated_link(@adverts, 'fuel_type', fuel).html_safe %></li>
        <% end %>
      </ul><br>
  <% end   %>
</div>

<div class="search-right">
  <!--search result table-->
  <table width="98%" cellpadding="5" cellspacing="0" >
    <tr class="sorting-bar">
      <td style="width: 50px"></td>
      <td style="width: 110px"></td>
      <td style="width: 600px"></td>
      <td style="width: 120px">Price</td>
      <td style="width: 120px">Posted</td>
    </tr>
    <% unless @promotes.blank? %>
        <tr>
          <td colspan="2" class="top_ads"><strong>Top Ads</strong>&nbsp;&nbsp;<%= link_to 'See all', (request.fullpath + (request.url.include?('?') ? '&' : '?') + "top_ad=true") %></td>
          <td colspan="3" class="top_ads" align="right">Want to promote your Ad here? <a href="#">Learn more</a></td>
        </tr>
        <%= render partial: "adverts/top_ads", object: @promotes %>
        <tr><td colspan="5" class="top_ads" style="padding: 0px 0px">&nbsp;<a href="#"></a></td></tr>
    <% end %>

    <% if @all_adverts.present? %>

        <%= render partial: "adverts/adverts", object: @all_adverts %>

    <% end %>
  </table>
  <!--search result table end-->

  <div class="paging-bar"><%= will_paginate @adverts %></div>
</div>