<div class="row-fluid">
  <div class="span4"><%= @subcategory.category.name %> > <%= @subcategory.name %></div>
</div>


<% @adverts.each do |advert| %>
  <div class="row-fluid">
    <div>
    	<b>Posted By:</b> <%= advert.email %><br/>
    	<b>Ad Title:</b> <%= advert.title.html_safe %><br/>
    	<b>Ad Description:</b> <%= advert.description.html_safe %><br/>
    </div>
  </div>  
  <div class="clear"></div>
<% end %>
