<div id="product-page" style="background-color: #F8F9E9" >

     <div class="padding">
      <div class="gray_box" style="font-size:9pt;width: 450px;margin: 70px auto 0 auto;">
        <span style="font-weight:bold;">Sign in</span>
        <br>
        <%= simple_form_for :session do |f|  %>

            <span style="font-weight:bold;">Email address or nickname</span>
            <br>
            <%= f.input :field1, label: false, input_html: {class: 'input1'} %>
            <span style="font-weight: bold">Password</span>
            <br>
            <%= f.input :password, label: false, input_html: {class: 'input1'} %>
            <br >
            <%= link_to "Forgot your password?", new_user_password_path %>
            <br >
            <br >
            <input type="checkbox" id="keep_signed" name="keep_signed"> Keep me sign in on this computer
            <br >
            <input type="checkbox" name="email_alerts"> Sign me up for <a href="#" style="text-decoration:underline;">Kutangaza deals</a> and alerts
            <br >
            <br >
            <%= f.submit('Sign In', style: "color:black;background-color:#DBFF83;border:thin blue solid;text-decoration:none;") %>
        <% end %>
      </div>
      <div class="gray_box" style="font-size:9pt;width:455px;margin: auto;">
        <span style="color:red;font-weight:bold;">Protect your account</span>: Ensure that whenever you sign in to Kutangaza, the Web address in your browser starts with
        <span style="color:#003300;font-weight:bold;">https://secure.kutangaza.com</span>
      </div>

    </div><br><br><br>
</div>
<%#= render "users/shared/links" %>
